$color-back: #3333DD;
$color-back-dark: #111155;
$color-back-darker: #111133;
$color-dark-active: #111165;

$color-back-light: #40acf1;

$color-back-black: #111122;

$color-text: #FFFFFF;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: $color-back-dark;
  font-weight: 550;
  li{
    flex: 1;
    text-align: center;
    a{
      display: block;
      text-decoration: none;
      color: $color-text;
      font-size: xx-large;
      box-sizing: border-box;
      padding: 10px 0;
      &:hover{
        background-color: $color-back-darker;
      }
      &.active{
        background-color: $color-dark-active;
      }
    }
  }
}

main{
  flex: 1;
  padding: 0 400px;
  background-color: $color-back;
}

@mixin general{
  background-color: $color-back-light;
}

.greeting{
  text-align: center;
  padding: 50px 50px;
  @include general;

  h1{
    font-size: xxx-large;
    margin: 20px 0;
    font-family: Franklin Gothic Medium, Franklin Gothic, ITC Franklin Gothic, Arial, sans-serif;
  }
  p{
    font-size: xx-large;
    margin: 20px 0;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
  }
  .greeting-image {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }
}

footer{
  text-align: center;
  background-color: $color-back-black;
  color: $color-text;
  padding: 20px;
}




