$color-back: #3333DD;
$color-back-dark: #111155;
$color-back-darker: #111133;
$color-dark-active: #111165;

$color-back-light: #40acf1;

$color-back-black: #111122;

$color-text: #FFFFFF;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: $color-back-dark;
  font-weight: 550;
  li{
    flex: 1;
    text-align: center;
    a{
      display: block;
      text-decoration: none;
      color: $color-text;
      font-size: xx-large;
      box-sizing: border-box;
      padding: 10px 0;
      &:hover{
        background-color: $color-back-darker;
      }
      &.active{
        background-color: $color-dark-active;
      }
    }
  }
}

main{
  flex: 1;
  background-color: $color-back;
}

.greeting{
  text-align: center;
  margin: 0 100px;
  padding: 50px 20px;
  background-color: $color-back-light;

  h1{
    font-size: xxx-large;
  }
  p{
    font-size: xx-large;
  }
}

footer{
  text-align: center;
  background-color: $color-back-black;
  color: $color-text;
  padding: 20px;
}




